:root {
  --primary-gradient: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
  --primary-text-color: #9c9c9c;
  --primary-theme-color: rgb(255, 194, 203);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5px;
}

body {
  min-height: 100vh;
  background: url(../images/bg5.png) no-repeat fixed 100% 100%;
}

section {
  padding-bottom: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first {
  margin-top: 1rem;
}

.headings {
  font-family: Prata;
}

.heading {
  font-size: 3rem;
}

.container {
  margin: 0;
  height: 100vh;
}

.links {
  color: var(--primary-text-color);
  border-bottom: 1px dashed #000;
  text-decoration: none;
}
#about {
  scroll-margin-top: 20rem;
}
.icon:hover,
.links:hover {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-expand-sm .navbar-collapse {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.nav-link {
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 200ms;
}

.nav-link.active {
  line-height: 1.5;
  padding-bottom: 8px;
}
.unactive {
  position: relative;
}

.unactive:hover {
  line-height: 1.4;
  border-bottom: solid 1px transparent;
  border-image: var(--primary-gradient);
  border-image-slice: 1;
}

.row.hero {
  padding-top: 20rem;
}
.name {
  font-family: Prata;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.info-text,
.nav-item,
.btn-lg,
.footer-content,
.text,
i,
li {
  font-size: 1.6rem !important;
  font-family: Gelasio;
}

.info-text,
.links,
.text {
  opacity: 0.7;
}

.profile-picture {
  width: 42rem;
  height: auto;
  justify-self: flex-start;
  border: 1px solid #74747427;
  border-radius: 0.5rem;
  box-shadow: 50px -45px rgba(255, 194, 203, 0.2);
}

.button-text {
  color: #000;
}

.button-text:hover {
  color: #fef0f2;
}

.button-one,
.button-two {
  border-radius: 0.5rem;
  padding: 2.1rem 3.5rem;
  margin: 1rem 1rem 0 0;
  border-image-source: var(--primary-gradient);
  border-image-slice: 1;
  border: 1px solid #fde1ee;
  border-bottom: 1px solid var(--primary-theme-color);
  transition: text-decoration-color 200ms;
  opacity: 0.8;
}

.button-one {
  background: var(--primary-gradient);
}

.button-two {
  background: transparent;
}

.button-one:hover,
.button-two:hover {
  opacity: 1;
  line-height: 1.45;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity ease 2s;
  -webkit-transition: opacity ease 1s;
}

.visible-item-two {
  opacity: 1;
  transition: opacity ease-out 2.5s;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

.colored-item {
  color: #f8ed28;
}

.about-container {
  padding: 2rem 5rem;
}

.text {
  max-width: 70vw;
}

#about,
#portfolio,
#contact {
  border-bottom: solid 0.01rem rgba(255, 165, 183, 0.798);
}

.card {
  padding: 1rem;
  text-align: center;
}

@media (max-width: 767px) {
  .row.hero {
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .description {
    text-align: center;
  }
  .buttons {
    justify-content: center;
  }
}

@media (max-width: 533px) {
  section.first,
  .third,
  .fourth {
    padding: 0 0 0 2rem;
  }

  section {
    padding-bottom: 10vh;
  }

  .row.hero {
    padding-top: 5vh;
    gap: 2rem;
  }

  h1 {
    text-align: center;
  }

  section {
    margin-top: 10vh;
  }
}

@media (max-width: 769px) {
  .info-text,
  .nav-item,
  .btn-lg,
  .footer-content,
  i,
  li {
    font-size: 2.5vw !important;
    font-family: Gelasio;
  }
}
