/* font-family: 'Gelasio', serif;
font-family: 'Prata', serif; */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5px;
}

body {
  min-height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first {
  margin-top: 12rem;
}

.headings {
  font-family: Prata;
}

.heading {
  font-size: 3rem;
}

.container {
  margin: 0;
  height: 100vh;
}

:root {
  --primary-gradient: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.66) 22.8%,
    rgba(253, 122, 4, 0.15) 64.6%
  );
  --primary-text-color: #9c9c9c;
}

i:hover {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-white {
  background: transparent !important;
}

.navbar-expand-sm .navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.nav-link.active {
  line-height: 1.5;
  padding-bottom: 8px;
}
.unactive {
  position: relative;
}

.unactive:hover {
  line-height: 1.4;
  border-bottom: solid 1px transparent;
  border-image: var(--primary-gradient);
  border-image-slice: 1;
}

.background-shape {
  min-width: 30rem;
  min-height: 44.5rem;
  max-width: 30rem;
  max-height: 44.5rem;
  margin: 5.4rem 4rem;
  position: absolute;
  grid-column-start: first-col;
  grid-row-start: first-row;
}

.background-shape:before {
  background: var(--primary-gradient);
  border-radius: 3rem 3rem 1rem 1rem;
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
  border: 2px;
  box-shadow: 30px -45px rgb(250, 216, 251);
  border: 30px outset rgba(247, 138, 241, 0.184);
}

.row.hero {
  display: flex;
  padding: 10rem 4rem;
}

.name {
  font-family: Prata;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.info-text,
.nav-item,
.btn-lg,
.footer-content,
i {
  font-size: 1.6rem !important;
  font-family: Gelasio;
}

.info-text {
  opacity: 0.7;
}
.profile-section {
  display: grid;
  grid-template-columns: [first-col] 100%;
  grid-template-rows: [first-row] 300px;
}
.profile-picture {
  grid-column-start: first-col;
  grid-row-start: first-row;
  width: 40rem;
  height: auto;
  justify-self: flex-start;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: flex-start;
}

.button-one,
.button-two {
  color: #000;
  padding: 2.1rem 3.5rem;
  margin: 1rem 1rem 0 0;
  text-align: center;
  border-image-source: var(--primary-gradient);
  border-image-slice: 1;
  border: 1px solid #fde1ee;
  border-bottom: 1px solid rgb(255, 208, 253);
  transition: text-decoration-color 200ms;
  text-decoration: none;
  opacity: 0.7;
}

.button-one {
  background: var(--primary-gradient);
}

.button-one:hover {
  color: #fff;
}

.button-one:hover,
.button-two:hover {
  opacity: 1;
  line-height: 1.4;
  cursor: pointer;
}

.button-two:hover {
  color: #fde1ee;
}

.nav-link {
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 200ms;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity ease 2s;
  -webkit-transition: opacity ease 1s;
}

.visible-item-two {
  opacity: 1;
  transition: opacity ease-out 2.5s;
}

.background-box {
  background: rgba(248, 196, 249, 0.1);
  width: 100vw;
  height: 99vh;
}

@media (max-width: 767px) {
  .row.hero {
    flex-direction: column-reverse;
    justify-content: space-around;
    gap: 20rem;
  }
  .description {
    text-align: center;
  }
  .buttons {
    justify-content: center;
  }
}

@media (max-width: 533px) {
  .row.hero {
    padding: 0;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
